:root {
    --hami-black-1: #000;
    --hami-black-2: #18191C;
    --hami-black-3: #181818;
    --hami-black-4: #1d2129;
    --hami-black-5: #252933;
    --hami-black-6: #333;
    --hami-blue-1: #1e80ff;
    --hami-blue-2: #0396ff;
    --hami-blue-3: #007fff;
    --hami-blue-4: #4495ff;
    --hami-blue-5: #2faee3;
    --hami-blue-6: #e8f3ff;
    --hami-blue-7: #ecf5ff;
    --hami-blue-8: #eaf2ff;
    --hami-grey-1: #999;
    --hami-grey-2: #909090;
    --hami-grey-3: #8a919f;
    --hami-grey-4: #666;
    --hami-grey-5: #6b757b;
    --hami-grey-6: #61666d;
    --hami-grey-7: #515767;
    --hami-grey-8: #505050;
    --hami-white-1: #e5e6eb;
    --hami-white-2: #f7f8fa;
    --hami-white-3: #e3e5e7;
    --hami-white-4: #f0f0f0;
    --hami-white-7: #cfd1d5;
    --hami-white-8: #f4f5f5;
    --hami-pink-1: #FFD9E4;
    --hami-pink-2: #fb7299;;
    --hami-pink-3: #fc8bab;
    --hami-red-1: #f64242;
    --hami-red-2: #F56C6C;
    --hami-red-3: #f56c6c;
    --hami-red-4: #ee677b;
    --hami-purple-1: #8312e8;
    --hami-yellow-1: #ffb800;
    --hami-radius-small: 4px;
    --hami-radius: 6px;
    --hami-radius-medium: 12px;
    --hami-radius-large: 16px;
}

:root {
    --hami-bg: #fff;
    --hami-border-grey: #cfd1d5;
    --hami-border-blue: rgba(30, 128, 255, 0.2);
    --hami-card-bg: #fff;
    --hami-card-text-color: #8a919f;
    --hami-card-hover-bg: #f7f8fa;
    --hami-card-blue-bg-1: rgba(0, 174, 236, 0.1);
    --hami-frame-bg: #e5e6eb;
    --hami-text-1: #000;
    --hami-text-2: #18191C;
    --hami-text-3: #181818;
    --hami-text-4: #252933;
    --hami-text-common: #303133;
    --hami-title-color: #252933;
    --hami-text-hover-color: #4495ff;
    --hami-item-bg: #fff;
    --hami-item-text-color: #8a919f;
    --hami-item-hover-bg: #e3e5e7;
    --hami-icon-active-1: var(--hami-blue-1);
    --hami-menu-text-color: #515767;
    --hami-menu-active-text-color: var(--hami-blue-1);
    --hami-menu-active-bg: var(--hami-blue-7);
    --hami-menu-active-bg-2: rgba(64, 158, 255, .1);
}

:root {
    --hami-notify-nav-bg: rgba(255, 255, 255, .8);
    --hami-notify-body-bg: rgba(255, 255, 255, .5);
    --hami-header-bg: linear-gradient(-225deg, #e3fdf5 0, #ffe6fa 100%);
}

body {
    margin: 0;
    background-color: var(--hami-frame-bg);
    letter-spacing: 0.5px;
    line-height: normal;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

*, :after, :before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

.user-popover {
    border-radius: 8px !important;
    min-width: 0 !important;
    padding: 0 !important;
    border: none !important;
}


.el-popover.el-popper {
    min-width: 0 !important;
    padding: 0 !important;
    --el-popover-border-radius: var(--hami-radius);
}

.ellipsis {
    line-clamp: 1;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.notify-card {
    cursor: pointer;
    padding: 16px 10px;
    min-height: 7rem;
    background-color: var(--hami-card-bg);
    border-radius: var(--hami-radius-small);
    transition: all .3s;

    &:hover {
        box-shadow: var(--el-box-shadow);
        background-color: var(--hami-card-hover-bg);
    }

    .entry {
        display: flex;
    }
}
