:root {
    --dark-bg-1: rgba(40, 44, 52, 0.6);
    --dark-bg-1-hover: rgba(40, 44, 52, 0.8);
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    font-size: 1rem;
    background-color: var(--hami-frame-bg);
    line-height: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    background-size: cover !important;
    right: 0;
    bottom: 0;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:after, :before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

.card {
    -webkit-transition: background-color .5s ease, opacity .3s ease-out, -webkit-transform .3s ease-out, -webkit-backdrop-filter .3s ease-out;
    transition: background-color .5s ease, opacity .3s ease-out, transform .3s ease-out, backdrop-filter .3s ease-out;
    transition: background-color .5s ease, opacity .3s ease-out, transform .3s ease-out, backdrop-filter .3s ease-out, -webkit-transform .3s ease-out, -webkit-backdrop-filter .3s ease-out;
    color: var(--hami-card-text-color);
    max-width: 100%;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .05), 0 0 1px rgba(0, 0, 0, .1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .05), 0 0 1px rgba(0, 0, 0, .1);
    background-color: var(--hami-card-bg);
    border-radius: var(--hami-radius);
    border: 1px solid transparent;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px
}

::-webkit-scrollbar-track {
    background: 0 0;
    border-radius: 2em
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
    border-radius: 1.5rem;
}


.user-popover {
    border-radius: 8px !important;
    min-width: 0 !important;
    padding: 0 !important;
    border: none !important;
}


.el-popover.el-popper {
    min-width: 0 !important;
    padding: 0 !important;
    --el-popover-border-radius: var(--hami-radius);
}

.ellipsis {
    line-clamp: 1;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

[class*=" ri-"], [class^=ri-] {
    transition: all .3s;
}

.hami-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.thumb-up, .star {
    cursor: pointer;
    transition: color .3s;
}

.star.active {
    color: var(--hami-icon-active-2) !important;
}

.thumb-up:hover {
    color: var(--hami-icon-active-1);
}

.thumb-up.active {
    color: var(--hami-icon-active-1) !important;
    cursor: pointer;
}

